<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pokemon Collection</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	 <script src="https://kit.fontawesome.com/b1053c2d89.js" crossorigin="anonymous"></script>
</head>
<body>
	<%if(typeof page === 'undefined'){%>
		<% page = 'other';%>
	<%}%>
	<%console.log(helper.isActive(page,"view"));%>
	<nav class="ui fixed inverted menu">
		<div class="item">
			<a href="/">
				<img src="/pokemon.png">
			</a>
		</div>
		<div class="ui grid item mobile only ">
			<a href="#"><i class="bars icon"></i></a>
		</div>
		<a href="/pokemon/#records" class="item <%= helper.isActive(page,'view')%>">View</a>
		<%if(!currentUser){ %>
			<a href="/register" class="item <%= helper.isActive(page,'register')%>">Sign Up</a>
			<a href="/login" class="item <%= helper.isActive(page,'login')%>">Log In</a>
			
		<%}else{%>
			
			
			<a href="/pokemon/new" class="item  <%= helper.isActive(page,'add')%>">Add</a>
			<a href="/logout" class="item">Logout</a>
			<a href="/users/<%=currentUser.username %>" class="item <%= helper.isActive(page,'profile')%>">
				<img src='<%= currentUser.avatar %>'>
			</a>

		<% }%>
			
	</nav>
	<div class="ui vertical menu sidebar left">
			<a href="/pokemon/#records" class="item  <%= helper.isActive(page,'view')%>">View</a>
		<%if(!currentUser){ %>
			<a href="/register" class="item <%= helper.isActive(page,'register')%>">Sign Up</a>
			<a href="/login" class="item <%= helper.isActive(page,'login')%>">Log In</a>
			
		<%}else{%>
			
			<a href="/pokemon/new" class="item  <%= helper.isActive(page,'add')%>">Add</a>
			<a href="/logout" class="item">Logout</a>
			<a href="/users/<%=currentUser.username %>" class="item <%= typeof page !== 'undefined' && page === 'profile' && currentUser.username === user.username ? 'active' : ''%>">
				<img src='<%= currentUser.avatar %>'>

			</a>

		<% }%>

		
	</div>


	<div class="pusher"> <!--start pusher div-->
		
	
	
	
	