<%-include ("partials/header") %>
<div class="body-container">
	<h1>Update Pokemon Info</h1>
	<div class="ui container">
		
		<form class="ui form" method="POST" action="/pokemon/<%=pokemon._id%>?_method=PUT">
			<div class="field">
				<label>Name</label>
				<input  type="text" name="entry[name]" value="<%=pokemon.name%>" required="required">

			</div>
			<div class="field">
				<label>Level</label>
				<input type="number" name="entry[level]" value="<%=pokemon.level%>" min="1" max="100" required="required">
			</div>

			<div class="field">
				<label>Species</label>
				<!-- <input type="text" name="entry[species]" required="required" value="<pokemon.species%>"> -->

				<select name="entry[species]" required="required">
					<option value = "<%=pokemon.species%>"><%=pokemon.species%></option>
					<%pokeNames.forEach(item=>{ %>
						<option value="<%=item.name %>"><%=item.name.charAt(0).toUpperCase() + item.name.slice(1)%></option>	
					<% })%>

				</select>

			</div>
			
			<input type="submit" class="ui button green">

		</form>

	</div>



	
</div>

<%-include ("partials/footer") %>