<%-include("partials/header")%>
<div class="ui tiny modal"></div>
<div class="ui body-container">
	
	<div class="avatar-container">

		<img width="200px" src=<%=user.avatar%>
	/>
	</div>

	<h1 class="page-title"><%=user.username%>'s Profile</h1>

	<%if(user.pokeCollection && user.pokeCollection.length>0){%>
	<div id="records" class="ui center aligned grid container">
		<div class="row">
			<h2 class="center"><%=user.username%>'s Collection</h2>
		</div>
	<% 	user.pokeCollection.forEach(poke=>{ %>
			<%console.log(poke.owner); %>
			<%const pokeJSON =JSON.stringify(poke);%>
			<div class="sixteen wide mobile eight wide tablet four wide computer column">
				<div class="ui raised segment poke-display" >
	
				<img src="<%=poke.image %>">
				<h3><%= poke.name %></h3>
				<p>Lvl <%= poke.level%></p>
				<a href="/pokemon/<%=poke._id %>" class="ui button blue">Info</a>

				<%if(currentUser && user._id.equals(currentUser.id)){ %>
					<!-- <form id="delete" method="POST" action="/pokemon/<%=poke._id%>?_method=DELETE"> -->
						<button class="ui button basic red" data-poke="<%=pokeJSON%>"><i class="trash alternate icon"></i>Delete</button>
				<!-- 	</form> -->
				<%} %>
				
				

				</div>
			</div>
			

	<%	}) %>
		
	</div>

	<%}else{%>
	<p>Your pokedex is empty! <a href="/pokemon/new">Go add some pokemon.</a></p>
	<%}%>
</div>

<script type="text/javascript">

	$(".button.red").on("click", (e)=>{
		const poke = JSON.parse(e.target.dataset.poke);
		console.log(`clicked ${e.target.dataset.poke}`)
		//create and append modal
		$('.tiny.modal')
		.html(`
			  <div class="header">Delete ${poke.name}?</div>
			  <div class="actions">
			  <div class="ui cancel button">Cancel</div>
			  	<form id="delete" method="POST" action="/pokemon/${poke._id}?_method=DELETE">
			    	<button class="ui approve red button">Delete</button>
			    </form>
			    
			  </div>`)
		.modal('show');
	}); 
</script>

<%-include("partials/footer") %>